body {
  font-size: 15px;
}
.billing table.table td:last-child {
  font-weight: 600;
  color: #1a9d7f;
}
.billing table.table td,
.billing table.table th {
  padding: 20px;
  color: #000000;
}

.panel.panel-default {
  margin: 15px;
}

